.admin-posts-container {
    margin: auto;
    width: 700px;
}
.admin-posts {
 display: flex;
 flex-direction: column;
}
.admin-post {
    margin: 10px;
    border: 1px solid black;
}
.admin-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
}
.admin-description {
    font-size: 1em;
    margin: 10px;
}
.admin-post-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}